<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Jadwal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
      <ion-card>
        <br>
        <ion-card-subtitle align="center">Jadwal Kuliah</ion-card-subtitle>
        <p></p>
        <br>
        <table class="table table-bordered border-primary">
          <thead>
          <tr>
          <th scope="col">Hari </th>
          <th scope="col">Mata Kuliah </th>
          <th scope="col">Dosen </th>
          </tr>
          </thead>

          <tbody>
          <tr>
          <th scope="row">Senin</th>
          <td align=center>English 1</td>
          <td align=center>Nurhayati,SE</td>
          </tr>
          <p>

          </p>
          <tr>
          <th scope="row">Selasa (siang)</th>
          <td align=center>Mobile Platforms</td>
          <td align=center>Anggra Triawan,S.Kom,M.Kom</td>
          </tr>
          <p>
            
          </p>
          <tr>
          <th scope="row">Rabu (Pagi)</th>
          <td align=center>Software Modeling And Analyst</td>
          <td align=center>Irmayansyah,S.Kom,M.Kom</td>
          </tr>
          <p>
            
          </p>
          <tr>
          <th scope="row">Rabu (siang)</th>
          <td align=center>Calculus</td>
          <td align=center>Dedy Mulyadi,S.Si.,M.Kom</td>
          </tr>
          <p>
            
          </p>
          <tr>
          <th scope="row">Kamis</th>
          <td align=center>-</td>
          <td align=center>--</td>
          </tr>
          <p>
            
          </p>
          <tr>
          <th scope="row">Jum'at</th>
          <td align=center>Intelligence System Fundamental </td>
          <td align=center>Binanda Wicaksana,M.Kom</td>
          </tr>
          <p>
            
          </p>
          <tr>
          <th scope="row">Sabtu (pagi)</th>
          <td align=center>Web Programming</td>
          <td align=center>Farhan Zayid,ST.,M.Kom</td>
          </tr>
          <p>
            
          </p>
          <tr>
          <th scope="row">Sabtu (siang)</th>
          <td align=center>Intelligence System Basic Search Strategies</td>
          <td align=center>Hudori,M.Kom</td>
          </tr>
          </table>
          <p></p>
      </ion-card>
</ion-content>
