<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Keuangan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <br>
  <ion-card-subtitle align="center">Histori Pembayaran Kuliah</ion-card-subtitle>
  <br><p></p>

  <table class="table table-bordered border-primary">
    <thead>
    <tr>
      <th scope="col">No. </th>
      <th scope="col">Tahun Akademik </th> 
      <th scope="col">Semester </th> 
      <th scope="col">Tanggal </th>
      <th scope="col">Jumlah </th>
      <th scope="col">Keterangan </th>
      </tr>
      <p>

      </p>
    </thead>
    
    <tbody>
    <tr>
    <th scope="row">1 </th>
    <td align=center>2021/2022 </td>
    <td align=center>Ganjil </td>
    <td align=center>10/10/2021 </td>
    <td align=center>Rp. 750.000,-   </td>
    <td align=center>Pembayaran ke-1 (BRI) </td>
    </tr>
    <p>

    </p>
    
    <tr>
      <th scope="row">2 </th>
      <td align=center>2021/2022 </td>
      <td align=center>Ganjil </td>
      <td align=center>10/11/2021 </td>
      <td align=center>Rp. 750.000,-   </td>
      <td align=center>Pembayaran ke-2 (BRI) </td>
      </tr>
      <p>
  
      </p>
  </table>
  
</ion-card>
</ion-content>
