<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Kartu Rencana Studi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <br>
      <ion-card-subtitle align="center">Rencana Studi Anda Semester Ini</ion-card-subtitle>
      <br><p></p>
    <table class="table table-bordered border-primary">
      <thead>
      <tr>
        <th scope="col">No. </th>
        <th scope="col">Kode MatKul </th> 
        <th scope="col">Nama Matkul </th> 
        <th scope="col">SKS </th>
        </tr>
        <p>

        </p>
      </thead>
      
      <tbody>
      <tr>
      <th scope="row">1</th>
      <td align=center>FK018</td>
      <td align=center>English 1</td>
      <td align=center>3</td>
      </tr>
      <p>

      </p>
      <tr>
        <th scope="row">2</th>
        <td align=center>IE326</td>
        <td align=center>Platform Mobile</td>
        <td align=center>3</td>
        </tr>
        <p>
  
        </p>
        <tr>
          <th scope="row">3</th>
          <td align=center>IE315</td>
          <td align=center>Software Modeling And Analyst</td>
          <td align=center>4</td>
          </tr>
          <p>
    
          </p>
          <tr>
            <th scope="row">4</th>
            <td align=center>FK322</td>
            <td align=center>Calculus</td>
            <td align=center>3</td>
            </tr>
            <p>
      
            </p>
            <tr>
              <th scope="row">5</th>
              <td align=center>IE327</td>
              <td align=center>Intelligence System Fundamental</td>
              <td align=center>3</td>
              </tr>
              <p>
        
              </p>
              <tr>
                <th scope="row">6</th>
                <td align=center>IE315</td>
                <td align=center>Web Programming</td>
                <td align=center>3</td>
                </tr>
                <p>
          
                </p>
                <tr>
                  <th scope="row">7</th>
                  <td align=center>IE329</td>
                  <td align=center>Intelligence System Basic Search Strategies</td>
                  <td align=center>3</td>
                  </tr>
                  <p>
            
                  </p>



    </table>
  </ion-card>

</ion-content>
