<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
    <ion-card-title align=center>e-Learning </ion-card-title>
    <ion-card-title align=center>Universitas Binaniaga</ion-card-title>
    </ion-card-header>
  </ion-card>
    
  <ion-card>
    <div class="text-center">
      <img src="http://elearning.unbin.ac.id/assets/img/unbin.png" alt="UNBIN">
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle align="center"> Annisa Haryoko </ion-card-subtitle>
      -----------------------------------------
      </ion-card-header>
        
      <ion-card-content align="center">
        15200002 <br>
        Teknik Informatika A <br>
      </ion-card-content>
  </ion-card>
</ion-content>
